@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header h1{
    margin-top: 5px;
}
header h1 .naslepo {
    background-color: #ff7300;
    border-radius: 5px;
    padding: 2px;
}
.header-description{
    margin-top: 5px;
}
.card{
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    gap: 25px;
    padding: 20px;
    margin: 40px auto;
    outline: 1.5px solid black;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 5px 5px 20px rgb(202, 202, 202);

}
.card img{
    width: 300px;
    height: auto;
}

.divider{
    height: 100%;
    width:4px;
    background-color: rgb(153, 153, 153);
}