@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

*, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
body{
    padding-top: 10px;
    background: #241e51;
}
table{
    margin: 0 auto;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header h1{
    margin-top: 5px;
}
header h1 .naslepo {
    background-color: #F99417;
    color: black;
    border-radius: 5px;
    padding: 3px;
}
.header-description{
    margin-top: 5px;
}
.card{
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    gap: 25px;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.518);
    background-color: #3a3562;
    transition: 0.5s;
}
.price{
    position: relative;
    left: 7px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.card img{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.description h2{
    margin-bottom: 10px;
    color: #FFF;
}
